<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Users</title>
    <link rel="stylesheet" href="style.css">
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <!-- <form method="GET" action="/user/new">
      <button>Add New User</button>
    </form> -->

    <h2 class="heading">List of all users</h2>
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Username</th>
        <th>Edit </th>
        <th>Delete</th>
      </tr>
      <% for(user of data) { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td>
          <form method="get" action="/user/<%=user.id%>/edit">
            <button id="edit-user">Edit username</button>
          </form>
        </td>
        <td>
          <form method="get" action="/user/<%=user.id%>/delete">
            <button id="delete-user">Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
